$black: #000000;
$grey: #EDEDED;

$aside-width: 400px;
$aside-background-color: #ededed;
$aside-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
$aside-tools-background-color: #343434;
$aside-tools-color: #ffffff;
$aside-icon-width: 1.5rem;
$aside-submenu-font-size: 0.9rem;
$default-padding: 1rem;
$navbar-height: 3.25rem;
$base-color: #f5f5f5;

