<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="/main.js"></script>
</head>
<body>

<div th:fragment="header">
    <header>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">

            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img src="/logo.png" alt="Logo" style="max-height: 5rem;">
                </a>
            </div>

            <div class="navbar-end">
                <div th:if="${session.user != null}" class="navbar-item">
                    <div class="buttons">
                        <a class="button is-white is-rounded" data-open="#modal-logout" href="#">
                    <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                            <strong>Abmelden</strong>
                        </a>
                    </div>

                    <div class="modal" id="modal-logout">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head has-background-primary">
                                <p class="modal-card-title has-text-black">Wollen Sie Sich abmelden?</p>
                                <button class="delete" aria-label="close" data-close="#modal-logout"></button>
                            </header>
                            <section class="modal-card-body">
                                <div class="content">
                                    <form action="/logout" method="post">
                                        <div class="field">
                                            <div class="control">
                                                <button class="button is-white" type="submit">Abmelden</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>

                            <footer class="modal-card-foot">
                                <button class="button is-primary has-text-black" data-close="#modal-logout">Schließen</button>
                            </footer>
                        </div>
                    </div>
                </div>

            </div>

        </nav>
    </header>
</div>



</body>
</html>
