<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="icon" type="image/png" href="https://img.icons8.com/color/48/raspberry-pi.png">

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="/main.js"></script>
</head>
<body>

<div th:fragment="header">
    <header>
        <nav class="navbar is-primary py-3" role="navigation" aria-label="main navigation">

            <div class="navbar-start">

                <div class="navbar-brand">
                    <img width="32" height="32" src="https://img.icons8.com/external-jumpicon-glyph-ayub-irawan/32/40C057/external-_36-kwanzaa-jumpicon-(glyph)-jumpicon-glyph-ayub-irawan.png" alt="external-_36-kwanzaa-jumpicon-(glyph)-jumpicon-glyph-ayub-irawan"/>
                </div>
            </div>


            <div class="navbar-end">

            </div>

        </nav>

    </header>
</div>

</body>
</html>
